<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
    <h2>Add New User</h2>

    <form th:action="@{/admin/users/add}" method="post">
        <label>First name:</label>
        <input type="text" name="userFirstName" required><br>

        <label>Family name:</label>
        <input type="text" name="userFamilyName" required><br>

        <label>Username:</label>
        <input type="text" name="username" required><br>

        <label>Password:</label>
        <input type="password" name="password" required><br>

        <p>Role</p>
        <input type="radio" id="ADMIN" name="role" value="ADMIN">
        <label for="ADMIN">ADMIN</label><br>
        <input type="radio" id="USER" name="role" value="USER">
        <label for="USER">USER</label>
        <br>

        <button type="submit">Save</button>
    </form>

    <a th:href="@{/admin/users}">
     <button>Back to Users List</button>
    </a>
</body>
</html>
