<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
</head>
<body>
<div th:replace="fragments/header :: siteHeader"></div>
<h2>User Information</h2>
<p>First Name: <span th:text="${user.userFirstName}"></span></p>
<p>Last Name: <span th:text="${user.userFamilyName}"></span></p>
<p>Username: <span th:text="${user.username}"></span></p>
<p>Roles:
    <span th:each="role : ${user.roles}" th:text="${role.name}"></span>
</p>
</body>
</html>
